extends html
extends php

snippet table
  <x-table>
      <x-slot name="header">
          <x-table.th></x-table.th>
      </x-slot>
      <x-table.tr>
          <x-table.td> </x-table.td>
      </x-table.tr>
  </x-table>

snippet enctype-formdata
  enctype="multipart/form-data"

snippet enctype-x-www-form-urlencoded
  enctype="application/x-www-form-urlencoded"

snippet enctype-text/plain
  enctype="text/plain"

snippet target-blank
  target="_blank"

