snippet bsearch_bottom
  /**
   * When value is equel : Return index of same value
   * When array contain multiple same values: Stay at the first index.
   *
   * Array:
   * [0, 1, 2, 3, 4, 5, 6, 7, 8,  9 ] Index
   * [0, 1, 2, 3, 3, 3, 4, 4, 6,  7 ] Array
   * [0, 1, 2, 3, 6, 8, 8, 9, 10, 10] Result
   *
   * @param {Array<number>} arr - Array of numbers
   * @param {number} v - Value
   * @return {number}
   */

  function bsearch(arr, v) {
    let l = 0;
    let r = arr.length - 1;
    while (l <= r) {
      const m = Math.floor((l + r) / 2);
      if (arr[m] >= v) {
        r = m - 1;
      } else {
        l = m + 1;
      }
    }
    return l;
  }

snippet bsearch_before
  /**
   * When value is equel : Return 1 index before
   * When array contain multiple same values: 1 index before the group
   *
   * Array:
   * [0,  1, 2, 3, 4, 5, 6, 7, 8,  9 ] Index
   * [0,  1, 2, 3, 3, 3, 4, 4, 6,  7 ] Array
   * [-1, 0, 1, 2, 5, 7, 7, 8, 9, 9]  Result
   *
   * @param {Array<number>} arr - Array of numbers
   * @param {number} v - Value
   * @return {number}
   */
  
  function bsearch(arr, v) {
    let l = 0;
    let r = arr.length - 1;
    while (l <= r) {
      const m = Math.floor((l + r) / 2);
      if (arr[m] >= v) {
        r = m - 1;
      } else {
        l = m + 1;
      }
    }
    return r;
  }
   

   
snippet bsearch_after
  /**
   * 
   * When value is equel : 1 index after the same value
   * When array contain multiple same values: Jump to 1 index after the group.
   *
   * Array:
   * [0, 1, 2, 3, 4, 5, 6, 7,  8,  9 ] Index
   * [0, 1, 2, 3, 3, 3, 4, 4,  6,  7 ] Array
   * [1, 2, 3, 6, 8, 8, 9, 10, 10, 10] Result
   *
   * @param {Array<number>} arr - Array of numbers
   * @param {number} v - Value
   * @return {number}
   */

  function bsearch(arr, v) {
    let l = 0;
    let r = arr.length - 1;
    while (l <= r) {
      const m = Math.floor((l + r) / 2);
      if (arr[m] > v) {
        r = m - 1;
      } else {
        l = m + 1;
      }
    }
    return l;
  }

snippet bsearch_top
  /**
   * 
   * When value is equel : Same index
   * When array contain multiple same values: At the last index of the group.
   *
   * Array:
   * [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] Index
   * [0, 1, 2, 3, 3, 3, 4, 4, 6, 7] Array
   * [0, 1, 2, 5, 7, 7, 8, 9, 9, 9] Result
   *
   * @param {Array<number>} arr - Array of numbers
   * @param {number} v - Value
   * @return {number}
   */

  function bsearch(arr, v) {
    let l = 0;
    let r = arr.length - 1;
    while (l <= r) {
      const m = Math.floor((l + r) / 2);
      if (arr[m] > v) {
        r = m - 1;
      } else {
        l = m + 1;
      }
    }
    return r;
  }

  

snippet TrieClass
  class Trie {
    constructor() {
      this.arr = { found: [] };
    }
    /**
     * @param {string} v
     */
    insert(v) {
      let pt = this.arr;
      for (let i = 0; i < v.length; i++) {
        const c = v[i];
        if (pt[c] == undefined) {
          pt[c] = { found: [] };
        }
        pt["found"].push(v);
        pt = pt[c];
      }
    }

    /**
     * @param {string} v
     */
    search(v) {
      let pt = this.arr;
      for (let i = 0; i < v.length; i++) {
        const c = v[i];
        if (pt[c] == undefined) {
          return false;
        }
      }
      return pt["found"];
    }
  }

snippet forn
  for(let ${1:i} = 0; $1 < ${2:n}; $1++){
    ${3}
  }
