# Builtin command refeence: https://github.com/L3MON4D3/LuaSnip/blob/0abc8f390b278c3b4aabc4c004ac8a088b65cf24/lua/luasnip/util/_builtin_vars.lua#L67
snippet section
  ## [${1}]()
  - [ ] ${2}
  ---

snippet frontmatter
  ---
  title:
  date: 
  description:
  tags:
  - Draft
  sources:
  ---

snippet due 
  <${CURRENT_YEAR}-${CURRENT_MONTH}-${CURRENT_DATE} ${CURRENT_HOUR}:${CURRENT_MINUTE}> 
