snippet type 
  /**@var ${0}*/

snippet doc_var
  /**@var ${0}*/
  
snippet fn
  fn($${1:v})=>$${1}
  
snippet date
  Y-m-d
  
snippet datetime
  Y-m-d H:i:s

snippet time
  H:i:s
  
snippet dateJapanese
  Y年m月d日
  
snippet datetime
  Y年m月d日 H時i分s秒
  
snippet timeJapanese
  H時i分s秒

